.Row{
    margin-top: 5px;
   margin-left: 10px;
   color: #fff; 
}
.headtitle{
    padding-left: 15px; 
 }
 .cards{
    display: flex;
   
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;

}
.cards::-webkit-scrollbar{
    display: none;
}


.movieCard{
    max-height: 370px;
    
    padding-bottom: 5px;
}
.cards img{
    width: 350px;
height:250px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

